<header>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/TestPage1">Test Page #1</a>
  <a href="/TestPage2">Test Page #2</a>
  <a href="/about">About</a>
</div>

<h1> Welcome to {{pageTitle}} </h1>
</header>
