<! DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some Website </title>
</head
<body>
  <!-- <h1>This is the {{pageTitle}}</h1> -->
  {{> header}}
  <p>
    Learning complete course on Node.js. So far its going quite good. Done with the Node.js basics and its Asynchronous programming with callbacks and promises.
    Curretly looking into the creation of Webserver using Express and adding middleware into it.
  </p>

  {{> footer}}
</body>
</html>
