<! DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some Website </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/Styles/SomeWebsite.css">
  <script src="/scripts/SomeWebsite.js"></script>
</head
<body>

  <!-- <h1>This is the {{pageTitle}}</h1> -->
  {{> header}}
  <p>{{bodyMessage}}</p>

  {{> footer}}
</body>
</html>
