<! DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some Website </title>
</head
<body>
  <h1>Down for Maintenance</h1>
  <p style="color:red">Sorry for the inconvinience caused! We are down for maintenance. Please come back soon!</p>
</body>
</html>
