<! DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some Website </title>
</head
<body>
  <!-- <h1>This is the {{pageTitle}}</h1> -->
  {{> header}}
  <p>
    <h2>What Can Node.js Do?</h2>
    <ul>
      <li>Node.js can generate dynamic page content</li>
      <li>Node.js can create, open, read, write, deNode.js can collect form datalete, and close files on the server</li>
      <li>Node.js can collect form dataNode.js can add, delete, modify data in your database</li>
      <li>Node.js can add, delete, modify data in your database</li>
    </ul>
    <hr/>
    <h2>What Can Node.js Do?</h2>
    <ul>
      <li>Node.js files contain tasks that will be executed on certain events</li>
      <li>A typical event is someone trying to access a port on the server</li>
      <li>Node.js files must be initiated on the server before having any effect</li>
      <li>Node.js files have extension ".js"</li>
    </ul>
  </p>
  {{> footer}}
</body>
</html>
